<h1>Wikinimous</h1>
<%# <%= link_to "New Article", new_path %> %>
<ul>
<% @articles.each do |article| %>
<li><%= link_to article.title, article_path(article) %></li>
<span><%= article.content%></span>
<% end %>
</ul>
