<h2><%=@article.title%><%=link_to "ðŸ–‹ï¸", edit_article_path(@article)%><%= link_to"ðŸ—‘ï¸", article_path(@article), data: {turbo_method: :delete,turbo_confirm: "Sure?"}%> </h2>
<p><%=@article.content %></p>
